*{
  padding: 0;margin:0;;box-sizing: border-box;
}

body{
  display:grid;
  grid-template-rows: 1fr 7fr 1fr;
  height: 100vh;
  width: 100vw;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}
.icon{
  display:grid;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

header{
  background-color: red;
}
.main{
  background-color: blue;
}
footer{
  background: green;
}