/* Set Up Variables */
:root{
--header-height:10vh;
--footer-height:10vh;
}
/*Hide Scroll bar*/
::-webkit-scrollbar { 
  display: none; 
}

/* Body */
*{
  padding: 0;margin:0;;box-sizing: border-box; 
  font-family: "Arial Narrow", Arial, sans-serif;
}
body{
  background: black;

}


/* Containers */
.wrapper {
  display: grid;
  grid-template-rows: auto var(--footer-height); /*auto = the body+header, 10vh = the footer*/
  grid-template-columns: 1fr;
  height: 100vh;
}
/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .wrapper{
    /*Swaps sides of column layour*/
    direction: rtl;
    /*actual layout is reverse of this*/
    grid-template-columns: auto 10vw; 
    grid-template-rows: 10vh auto;
  }
}

.panel {
  display: grid;
  grid-template-rows: var(--header-height) auto; /*1vh = the header, auto = footer + body */
  height: calc(100vh - (var(--footer-height))); /* height = size of page minus footer*/
  background: black;
}

/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .panel{
    /*Swaps sides of column layout back to normal*/
    direction: ltr;
    grid-column: span 2;
  }
}

.panel-body {
  overflow-y: auto;
  display: grid;
  justify-content: center;
  align-content: center;

}
/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .panel-body{
    
    direction:ltr;
    width: 100vw;
    grid-template-columns: 10vw auto;
  }
}


header{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  z-index: 1;
  background-color: red;
}
header > div{
  border: 2px solid;
  justify-content: center;
  align-content: center;
  display:grid;
  text-align: center;
}

#selected_class > img{
  height: 10vh;
  width: auto;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
  height:80%;
justify-items: center;
  align-items: center;
  grid-gap:20px;
  
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Content */



.trees{
  /*Positioning*/
  display:grid;
  scroll-snap-type: x mandatory;
  overflow-x:scroll;
  grid-template-columns: repeat(3, 100% );
  margin:5%;
}

/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .trees{
    /*Display all trees*/
    grid-template-columns: repeat(3, minmax(300px, 1fr));
      /*Prevents trees from sitting under sidebar/footer at certain sizes*/
      grid-column-start: 2;
      
  }
}

.tree{
  scroll-snap-align:end;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-clip: content-box;
  background-color: black;
  display: grid;

  grid-template-columns: repeat(4, minmax(48px,1fr)); /*change back to 1fr*/
  grid-template-rows: repeat(11, minmax(48px,1fr));  
 
  justify-items: center;
  align-items: center;
  box-shadow:  inset 0 0 20px 10px #000000;
}


.tree1{
  background-image: url("images/backgrounds/druid_balance.jpg");
}
.tree2{
  background-image: url("images/backgrounds/druid_feral.jpg");
}
.tree3{
  background-image: url("images/backgrounds/druid_restoration.jpg");
}

.icon{
  display:grid;
  /* border: 1px solid; */
  color: white;
  justify-content: center;
  align-items: center;
  
 
}

.icon > img{
 
  filter: grayscale(100);

}


/** Footer **/

/*Desktop screens*/
@media only screen and (min-width: 600px) {
  footer{
    grid-template-rows: repeat(5, 100px); /*need to change to relative values*/
    grid-row: 2/ -1;
    grid-column-end: -1;
    
  }
}


footer {
  display: grid;
  background:green;

}
footer > div{
  text-align: center;
  justify-content: center;
  align-content: center;
  border: 2px solid;
  display:grid;
} 
