
/* Body */
*{
  padding: 0;margin:0;;box-sizing: border-box; 
  font-family: "Arial Narrow", Arial, sans-serif;
}

body{
 
  height: 100%;
  width: 100%;
}

/* Header*/

header{
  position: absolute; 
  top: 0px;
  left:0px;
  right:0px;
  overflow:hidden;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: red;
}
header > div{
  border: 2px solid;
  justify-content: center;
  align-content: center;
  display:grid;
  text-align: center;
}


/* Content */
main{
  position: absolute; 
  top: 10%;
  bottom: 10%
  left:0px;
  right:0px;
  overflow:auto;
  background-color: black;
}
.wrapper{
  background-image: url("images/backgrounds/druid_balance.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  margin: 20px;
  height: 1600px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(11, 1fr)
  
}
.icon{
  display:grid;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  color: white;
}

/* Footer */

footer{
  position: absolute; 
  bottom: 0px;
  left:0px;
  right:0px;
  overflow:hidden;
  display: grid;
  background: green;
  grid-template-columns: repeat(4, 1fr);
  height:10%;
}
footer > div{
  text-align: center;
  justify-content: center;
  align-content: center;
  border: 2px solid;
  display:grid;
}