
/* Body */
*{
  padding: 0;margin:0;;box-sizing: border-box; 
  font-family: "Arial Narrow", Arial, sans-serif;
}

body{
  display:grid;
  grid-template-rows: 1.5fr 8fr 1fr;
  height: 100vh;
  width: 100vw;
}
/* Header*/

header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: red;
}
header > div{
  border: 2px solid;
  justify-content: center;
  align-content: center;
  display:grid;
  text-align: center;
}


/* Content */
.main{
  background-color: black;
}
.wrapper{
  background-image: url("images/backgrounds/druid_balance.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  margin: 20px 100px;
  height: 1000px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(11, 1fr)
  
}
.icon{
  display:grid;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  color: white;
}

/* Footer */

footer{
  display: grid;
  background: green;
  grid-template-columns: repeat(4, 1fr)
}
footer > div{
  text-align: center;
  justify-content: center;
  align-content: center;
  border: 2px solid;
  display:grid;
}