/* Set Up Variables */
:root{
--header-height:10vh;
--footer-height:10vh;
}

/* Body */
*{
  padding: 0;margin:0;;box-sizing: border-box; 
  font-family: "Arial Narrow", Arial, sans-serif;
}


/* Containers */
.wrapper {
  display: grid;
  grid-template-rows: auto var(--footer-height); /*auto = the body+header, 10vh = the footer*/
  grid-template-columns: 1fr;
  height: 100vh;
}

.panel {
  display: grid;
  grid-template-rows: var(--header-height) auto; /*1vh = the header, auto = footer + body */
  height: calc(100vh - (var(--footer-height))); /* height = size of page minus footer*/
  background: black;

}
.panel-body {
  overflow-y: auto;
  /* overflow-x:hidden; */
  display: grid;
}


/* Header*/



header{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background: red;
}
header > div{
  border: 2px solid;
  justify-content: center;
  align-content: center;
  display:grid;
  text-align: center;
}

.headerClassIcon > img{
  height: 50px;
  width: 50x;
  border-radius: 50%;
}

/* Content */

.trees{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  width:300%;
  scroll-snap-type: mandatory;
  scroll-snap-points-x:  repeat(100vw);
}

.tree{
  
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding:5%;
  background-clip: content-box;
  background-color: black;
  display: grid;
  height: auto; /*Change to auto once icons are placed*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(11, 1fr);
  scroll-snap-align: start;


  
}

.tree1{
  background-image: url("images/backgrounds/druid_balance.jpg");
}
.tree2{
  background-image: url("images/backgrounds/druid_feral.jpg");
}
.tree3{
  background-image: url("images/backgrounds/druid_restoration.jpg");
}

.icon{
  display:grid;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  color: white;
}

.icon > img{
  height: 50px;
  width: 50px;
  filter: grayscale(100);
}

/** Footer **/
footer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
footer > div{
  text-align: center;
  justify-content: center;
  align-content: center;
  border: 2px solid;
  display:grid;
} 
