/* Set Up Variables */
:root{
--header-height:10vh;
--footer-height:10vh;
}
/*Hide Scroll bar*/
/* ::-webkit-scrollbar { 
  display: none; 
} */

/* Body */
*{
  padding: 0;margin:0;;box-sizing: border-box; 
  font-family: "Arial Narrow", Arial, sans-serif;
}


/* Containers */
.wrapper {
  display: grid;
  grid-template-rows: auto var(--footer-height); /*auto = the body+header, 10vh = the footer*/
  grid-template-columns: 1fr;
  height: 100vh;
}

.panel {
  display: grid;
  grid-template-rows: var(--header-height) auto; /*1vh = the header, auto = footer + body */
  height: calc(100vh - (var(--footer-height))); /* height = size of page minus footer*/
  background: black;

}
.panel-body {
  overflow-y: auto;
  display: grid;
  justify-content: center;
  align-content: center;

}


/* Header*/



header{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background: red;
}
header > div{
  border: 2px solid;
  justify-content: center;
  align-content: center;
  display:grid;
  text-align: center;
}

.headerClassIcon > img{
  height: 75px;
  width: 75x;
  border-radius: 50%;
}

/* Content */

/*On desktop/ipad*/
@media only screen and (min-width: 601px) {
  .trees{
    /*Display all trees*/
    grid-template-columns: repeat(3, 1fr);
  }
}
/*On Mobile*/
@media only screen and (max-width: 600px) {
  .trees{
    /*Display one tree at a time and add scroll snap functionality*/
    
    grid-template-columns: repeat(3, 100% );
  }
}
/*On All screens*/
.trees{
  /*Positioning*/
  display:grid;
  scroll-snap-type: x mandatory;
  overflow-x:scroll;
}





.tree{
  scroll-snap-align:end;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding:5%;
  background-clip: content-box;
  background-color: black;

  
  display: grid;
  height: auto; /*Change to auto once icons are placed*/
  grid-template-columns: repeat(4, 1fr); /*change back to 1fr*/
  grid-template-rows: repeat(11, 1fr);


  
}

.tree1{
  background-image: url("images/backgrounds/druid_balance.jpg");
}
.tree2{
  background-image: url("images/backgrounds/druid_feral.jpg");
}
.tree3{
  background-image: url("images/backgrounds/druid_restoration.jpg");
}

.icon{
  display:grid;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  color: white;
}

.icon > img{
  height: 50px;
  width: 50px;
  filter: grayscale(100);
}

/** Footer **/
footer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
footer > div{
  text-align: center;
  justify-content: center;
  align-content: center;
  border: 2px solid;
  display:grid;
} 
