
/* Body */
*{
  padding: 0;margin:0;;box-sizing: border-box; 
  font-family: "Arial Narrow", Arial, sans-serif;
}


/* Wrapper */
.wrapper {
  display: grid;
  grid-template-rows: auto 10%;
  grid-template-columns: 1fr;
  height: 100vh;
}

.panel {
  display: grid;
  grid-template-rows: 30px auto;
  height: calc(100vh - 30px);
}
.panel-body {
  overflow: auto;
}

header{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: rgba(red, green, blue, alpha);
}
header > div{
  border: 2px solid;
  justify-content: center;
  align-content: center;
  display:grid;
  text-align: center;
}

/* Header*/
/* header{
  position: absolute; 
  top: 0px;
  left:0px;
  right:0px;
  overflow:hidden;
  height: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: rgba(red, green, blue, alpha);
}
header > div{
  border: 2px solid;
  justify-content: center;
  align-content: center;
  display:grid;
  text-align: center;
} */

.headerClassIcon > img{
  height: 50px;
  width: 50x;
  border-radius: 50%;
}


/* Content */
/* main{
  position: absolute; 
  top: 10%;
  bottom: 10%;
  left:0px;
  right:0px;
  overflow:scroll;
  background-color: black;
} */
.tree1{
  background-image: url("images/backgrounds/druid_balance.jpg");
}
.tree2{
  background-image: url("images/backgrounds/druid_feral.jpg");
}
.tree3{
  background-image: url("images/backgrounds/druid_restoration.jpg");
}

.tree{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  margin: 5%;
  height: 800px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(11, 1fr)
  
}
.icon{
  display:grid;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  color: white;
}

.icon > img{
  height: 50px;
  width: 50px;
  filter: grayscale(100);
}

/* Footer */

/* footer{
  position: absolute; 
  bottom: 0px;
  left:0px;
  right:0px;
  overflow:hidden;
  display: grid;
  background: green;
  grid-template-columns: repeat(4, 1fr);
  height:10%;
}
*/

/** Footer **/
footer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
footer > div{
  text-align: center;
  justify-content: center;
  align-content: center;
  border: 2px solid;
  display:grid;
} 
