/* Set Up Variables */
:root{
--header-height:10vh;
--footer-height:10vh;
}
/*Hide Scroll bar*/
::-webkit-scrollbar { 
  display: none; 
}

@font-face {
  font-family: 'Friz Quadrata Regular OS';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Regular OS'), url('fonts/friz-quadrata-regular-os-5870333951e7c.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Friz Quadrata Bold Italic OS';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Bold Italic OS'), url('fonts/friz-quadrata-bold-italic-os-5870341205e0f.woff') format('woff');
  }

  @font-face {
    font-family: 'Semplicit';
    font-style: normal;
    font-weight: normal;
    src: local('Semplicit'), url('fonts/Semplicita-Medium.woff') format('woff');
    }
  

/* Body */
*{
  padding: 0;margin:0;;box-sizing: border-box; 
  font-family: "Open Sans",'Arial','Helvetica', 'sans-serif';
  font-weight: 400;

}
body{
  background: black;
}


/* Containers */
.wrapper {
  display: grid;
  grid-template-rows: auto var(--footer-height); /*auto = the body+header, 10vh = the footer*/
  grid-template-columns: 1fr;
  height: 100vh;
}
/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .wrapper{
    /*Swaps sides of column layour*/
    /* direction: rtl; */
    /*actual layout is reverse of this*/
    /* grid-template-columns: auto 10vw; 
    grid-template-rows: 10vh auto; */
    /* grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr; */
  }
}

.panel {
  display: grid;
  grid-template-rows: var(--header-height) auto; /*1vh = the header, auto = footer + body */
  height: calc(100vh - (var(--footer-height))); /* height = size of page minus footer*/
  background: black;
}

/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .panel{
    /*Swaps sides of column layout back to normal*/
    direction: ltr;
    /*grid-column: span 2;
    /*grid-template-rows: var(--header-height) auto; 1vh = the header, auto = footer + body */
    height: 100vh; 
    max-height: 875px;

  }
}

.panel-body {
  /* grid-template-rows: 1fr 9fr; */

  overflow-y: auto;
  display: grid;
  justify-content: center;
  align-content: center;

}
/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .panel-body{
    display:grid;
    grid-template-columns: 1fr 3fr;
    /* direction:ltr; */
    /* width: 100vw; */
    /* grid-template-columns: 10vw auto; */
    
  }
}


header{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  /* z-index: 1; */
  background-color: #ff0000;
}


header > .tallyBox{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
/*On Desktop/ipad*/
@media only screen and (min-width:600px){
  header{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
  }
}
/* header > div{
  border: 2px solid;
  justify-content: center;
  align-content: center;
  display:grid;
  text-align: center;
}
*/
.classIcon{
  height: 10vh;
  width: auto;
  z-index: 2;

} 

/* Dynamically Generated container for holding class icons. Only displays on Desktop*/
.class-icon-container{
  display:grid;
  grid-auto-flow: column;
}



/* The Modal (background) */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
  height:75vh;
  justify-items: center;
  align-items: center;
  grid-gap:20px;
  border-radius: 10px;
  
}
/*Tooltips*/
.tooltip-activator{
  position:absolute;
  height: 100%;
  width:100%;
}


.tooltip_content >div:nth-child(1){
  display: inline;
  font-size: 150%;
}
.tooltip_content > div:nth-child(2){
  float:right;
  display:inline;
  font-size: 120%;
}



/* Content */
.talents{
  /* visibility: hidden;
  position: absolute; */
}


.abilities{
  position: absolute;
  visibility: hidden;

}

.trees{
  /*Positioning*/
  display:grid;
  scroll-snap-type: x mandatory;
  overflow-x:scroll;
  grid-template-columns: repeat(3, 100% );
  grid-template-rows: 1fr 1fr;


}

/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .trees{
    /*Display all trees*/
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    max-height: 90vh;
  }
}

/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .trees.abilities{
    /*Display all trees*/
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    overflow-x: visible;
    scroll-snap-type: none;
    position:static;
      
  }
}

.trees > .spec-banner{
  background-color: blue;
  max-height:50px;
  margin: 10px;
  display:grid;
  grid-template-columns: 1fr 9fr 1fr;
  justify-items: center;
  align-items: center;
}

/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .trees.abilities > .spec-banner{
      
  }
}

.tree{
  scroll-snap-align:end;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-clip: content-box;
  background-color: black;
  display: grid;

  grid-template-columns: repeat(4, minmax(48px,1fr)); /*change back to 1fr*/
  grid-template-rows: repeat(11, minmax(48px,1fr));  
 
  justify-items: center;
  align-items: center;
  box-shadow:  inset 0 0 20px 10px #000000;
}

/*On desktop/ipad*/
@media only screen and (min-width: 600px) {
  .trees.abilities > .tree{
    scroll-snap-align:none;
    grid-template-columns: repeat(auto-fill, 48px );
    grid-gap:5px;
    grid-template-rows: auto;
  }

  /* Change order of banners and trees*/
  .trees.abilities > div:nth-child(1){order:1} 
  .trees.abilities > div:nth-child(2){order:3}
  .trees.abilities > div:nth-child(3){order:5}
  .trees.abilities > div:nth-child(4){order:2}
  .trees.abilities > div:nth-child(5){order:4}
  .trees.abilities > div:nth-child(6){order:6}
}

.icon{
  display:grid;
  color: white;
  justify-content: center;
  align-items: center;
  margin:10%;
  position: relative;
}

.icon > img{
  
 max-width: 64px;
 max-height:64px;

}

/*Desktop screens*/
@media only screen and (min-width: 600px) {
  .icon > img{
    max-width: 48px;
    max-height:48px;
  }
  
}



.rankBox{
  background-color: black;
  height:24px;
  width:40px;
  position: absolute;
  right:0;
  bottom:0;
}


/** Footer **/


footer {
  display: grid;
  color:white;
  grid-template-columns: 2fr 1fr 2fr;

}
/*Desktop screens*/
@media only screen and (min-width: 600px) {
  footer{
    /*grid-template-rows: repeat(5, 100px); need to change to relative values*/
    /* grid-row: 2/ -1;
    grid-column-end: -1; */
    /* height: 10vh; */
    visibility: hidden;
     
  }
  
}
/* footer > div{
  background-size: 100% 115%;
}
footer > div:nth-of-type(1){
  background-image:url('images/fire_blue.png')
  
}
footer > div:nth-of-type(3){
  background-image:url('images/fire_purple.png')
} */

footer > div{
  text-align: center;
  justify-content: center;
  align-content: top;
  border: 2px solid;
  display:grid;
} 



