@charset "utf-8";

/*
 * testinga
 * TODO: RUN THROUGH PREFIXR
 */

/* =========== Fonts =========== */
@font-face {
    font-family: 'MuseoSans';
    src: url('../../../fonts/MuseoSans_500-webfont.eot');
    src: url('../../../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/MuseoSans_500-webfont.woff') format('woff'),
    url('../../../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
    url('../../../fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSlab';
    src: url('../../../fonts/Museo_Slab_500-webfont.eot');
    src: url('../../../fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/Museo_Slab_500-webfont.woff') format('woff'),
    url('../../../fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
    url('../../../fonts/Museo_Slab_500-webfont.svg#Museo_Slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    background: rgba(245, 245, 245, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(117, 46, 21, 0.71);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(148, 55, 27, 0.71);
}

/* =========== General =========== */

/* ======= REVIEW BODY CSS ======= */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Droid Serif', serif;
    font-size: 12px;
    color: #737475;
    background: url(../images/bg.jpg) top center;

    overflow-x: hidden;
}

/* text-shadow:1px 1px 0px #000;*/

*, ul, li, h1, h2, p, b {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    list-style: none;
    line-height: 1.5;
}

*:focus {
    outline: none;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

input, select, textarea {
    box-sizing: content-box;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

a:not(.mobile-nav) {
    text-decoration: none;
    color: #3d4346 !important;
}

a:hover {
    color: #A07332;
}

a img {
    border: none;
}

#left #left_menu li a, #top_menu li a, footer #logo {
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}

.left {
    float: left;
}

.right {
    float: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', serif;
    color: #855321;
    letter-spacing: 1px;
}

/* =========== Main =========== */
header {
    background: url(../images/bg-header-top.png) no-repeat top center;
    height: 500px;
    text-align: center;
}

#main {
    /*background: url(../images/bg-main.jpg) no-repeat top center;
    height: 945px;
    overflow-y: hidden;*/
    padding: 20px 0 50px;
}

footer.footer-bottom {
    background: url(../images/bg-footer.png) no-repeat bottom center;
    height: 96px;
}

#bottom_bg {
    position: absolute;
    background-image: url(../images/lower_bg.jpg);
    height: 913px;
    width: 1650px;
    left: 50%;
    margin-left: -825px;
    z-index: 1;
}

/* ============ Nav ================= */

header {
    text-align: center;
    position: relative;
}

nav:not(.mobile-nav) {
    width: 100%;
    margin: 0 auto;
}

nav li:not(.mobile-nav) {
    background: url(../images/nav-divider.png) no-repeat center left;
    display: inline-block;
    padding-left: 6px;
    width: 9%;
    overflow: hidden;
}

nav li:first-child:not(.mobile-nav) {
    background: none;
    padding-left: 0;
}

nav li:nth-child(5):not(.mobile-nav) {
    margin-right: 9%;
}

nav li:nth-child(6):not(.mobile-nav) {
    /*margin-left: 9%;*/
    background: none;
    padding-left: 0;
}

nav li:last-child:not(.mobile-nav) {
    width: 15%;
}

nav li a:not(.mobile-nav) {
    display: block;
    margin: 20px 0;
    width: 100%;
    height: 45px;
    opacity: 0.7;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white !important;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Open Sans', serif;
    line-height: 45px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    -webkit-font-smoothing: antialiased;
}

nav ul li a:hover {
    opacity: 0.9;
    color: white;
    text-decoration: none !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -260px;
    background: url(../images/logo.png) no-repeat center center;
    width: 520px;
    height: 163px;
    display: block;
}

#logo:hover {
    background: url(../images/logo-hover.png) no-repeat center center;
}

.subnav {
    width: 100%;
    text-align: center;
    margin-top: 309px;
    background: url(../images/bg-header-bottom.png) no-repeat bottom center;
    height: 100px;
}

.subnav ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}

.subnav li {
    display: inline;
}

.subnav li a {
    /*padding:38px 68px;*/
    width: 136px;
    height: 77px;
    display: inline-block;
}

.subnav li a img {
    display: none;
}

/* =========== Buttons ========= */

#nav-media {
    background-image: url(../images/buttons/media.png);
}

#nav-media:hover {
    background-image: url(../images/buttons/media-hover.png);
}

#nav-support {
    background-image: url(../images/buttons/support.png);
}

#nav-support:hover {
    background-image: url(../images/buttons/support-hover.png);
}

#nav-sign-in {
    background: url(../images/buttons/sign-in.png) no-repeat center right;
}

#nav-sign-in:hover {
    background: url(../images/buttons/sign-in-hover.png) no-repeat center right;
}

#nav-register {
    background: url(../images/buttons/register.png) no-repeat center left;
}

#nav-register:hover {
    background: url(../images/buttons/register-hover.png) no-repeat center right;
}

#nav-av-panel {
    background: url(../images/buttons/av-panel.png) no-repeat center right;
}

#nav-logout {
    background: url(../images/buttons/logout.png) no-repeat center left;
}

/* ARTICLE */

/* article {
	width: 1038px;
	margin-left: auto;
	margin-right: auto;
}

article a.top {
	text-align: center;
	display: block;
	width: 100%;
	background: url(../images/frames/header.png) no-repeat top center;
	padding: 46px 0 26px;
	color: white;
}

article a.top:hover {
	color: #A07332;
}

article section.body {
	padding: 0 50px 35px;
	background: url(../images/frames/footer.png) no-repeat bottom center, url(../images/frames/border.gif) repeat-y top center;
}

div.news_bottom {
	font-weight: bold;
}*/

div#content_ajax {
    /*width: 1000px;*/
    margin: 0 auto;
}

h2.top, h1.top {
    color: #855321 !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 30px !important;
    border-bottom: 1px #855321 solid !important;
    line-height: 50px !important;
    margin-bottom: 20px !important;
    padding-left: 5px !important;
}

/* ==== Screenshot page === */

.screenshot_preview {
    width: 230px;
    padding: 10px;
    float: left;
    text-align: center;
}

.screenshot_preview div {
    background-color: black;
    border-radius: 8px;
    width: 200px;
    height: 114px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

.screenshot_preview img {
    max-width: 200px;
    max-height: 114px;
    /*cursor: pointer;*/
}

.screenshot_preview h3 {
    text-align: center;
    color: #d0a511;
    margin-top: 5px;
}

.screenshot_preview p {
    text-align: center;
}

/* <div class="screenshot_preview"><div></div><h3>Lorem Ipsum</h3><p>by Lorum</p></div> */

/* =========== Left =========== */
#left {
    width: 285px;
    float: left;
}

#left article {
    border-right: 1px solid #080d11;
    box-shadow: 1px 1px 0px #020508;
    -ms-box-shadow: 1px 1px 0px #020508;
    -o-box-shadow: 1px 1px 0px #020508;
    -moz-box-shadow: 1px 1px 0px #020508;
    -webkit-box-shadow: 1px 1px 0px #020508;
    background-color: rgba(0, 0, 0, 0.2);
}

#left article:last-child {
    border-bottom: 1px solid #080d11;
    border-bottom-right-radius: 3px;
}

#left article .top {
    background-image: url(../images/side_top.png);
    height: 34px;
    width: 284px;
    padding-top: 13px;
    text-align: center;
    color: #cf9139;
    font-size: 14px;
    font-family: MuseoSlab;
}

#left article .body {
    padding: 15px;
}

#left #left_menu li:nth-child(even) a {
    background-color: rgba(10, 16, 22, 0.3);
}

#left #left_menu li a {
    display: block;
    padding: 10px;
    font-size: 14px;
    color: #434749;
    padding-left: 20px;
}

#left #left_menu a img {
    margin-right: 15px;
}

#left #left_menu li a:hover {
    color: #cf9139;
    padding-left: 40px;
}

#left .side_divider {
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/side_divider.png);
    height: 25px;
    width: 258px;
    margin-top: 15px;
}

/* =========== Right =========== */
#right {
    width: 734px;
    float: right;
    margin-right: 1px;
}

#right article {
    box-shadow: 1px 1px 0px #020508;
    -webkit-box-shadow: 1px 1px 0px #020508;
    -o-box-shadow: 1px 1px 0px #020508;
    -ms-box-shadow: 1px 1px 0px #020508;
    -moz-box-shadow: 1px 1px 0px #020508;
    background-color: #02060a;
}

#right article:last-child {
    border-bottom: 1px solid #080d11;
    margin-bottom: 20px;
}

#right article .top {
    background-image: url(../images/main_top.png);
    height: 37px;
    width: 734px;
    padding-top: 10px;
    text-align: center;
    color: #cf9139;
    font-size: 18px;
    font-family: MuseoSlab;
    display: block;
}

#right article .body {
    padding: 15px;
}

#right article .divider {
    background-image: url(../images/divider.png);
    background-position: center;
    height: 32px;
    margin-top: 15px;
}

#right article .news_bottom {
    margin-top: 15px;
}

#right article .news_bottom a {
    color: #a07332;
}

#right article .news_bottom a:hover {
    color: #fff;
}

#right article .comments_button {
    float: right;
    display: block;
}

.avatar {
    float: left;
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 5px;
}

/* =========== Footer =========== */

footer.footer-bottom {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 11px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: bolder;
    text-shadow: 0 0 1px #e6e8c1, 0 0 1px #e6e8c1, 0 0 1px #e6e8c1, 0 0 1px #e6e8c1, 0 0 1px #e6e8c1, 0 0 1px #e6e8c1, 0 0 2px #e6e8c1, 0 0 2px #e6e8c1, 0 0 2px #e6e8c1;
}

footer.footer-bottom > div {
    /*width: 950px;*/
    padding-top: 28px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

footer.footer-bottom .left {
    width: 65%;
}

footer.footer-bottom .right {
    width: 30%;
    text-align: right;
}

/* =========== CMS: general =========== */
#slider_bg {
    background-color: #000;
    padding: 15px;
}

#slider {
    width: 704px;
    height: 201px;
}

/* =========== CMS: general =========== */
/*.nice_button, input[type="submit"] {
	background-image:url(../images/button_bg.png);
	height:18px;
	border:1px solid #090f15;
	border-top-color:#111f2a;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	text-align:center;
	padding:8px;
	font-size:12px;
	color:#616c72;
	box-shadow:1px 1px 0px #020508;
	-webkit-box-shadow:1px 1px 0px #020508;
	-ms-box-shadow:1px 1px 0px #020508;
	-o-box-shadow:1px 1px 0px #020508;
	-moz-box-shadow:1px 1px 0px #020508;
	text-shadow:1px 1px 0px #000;
	font-family:MuseoSans;
	margin-top:10px;
	background-position:middle;
}

.nice_button:hover, .nice_active, input[type="submit"]:hover {
	background-position:0px 37px;
	color:#A07332;
}

.nice_button:active, input[type="submit"]:active {
	box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-webkit-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-moz-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-ms-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
	-o-box-shadow:1px 1px 0px #020508, 0px 2px 5px #000 inset;
}*/

.fancybox-skin {
    background: url(../images/bg.jpg) top center;
    color: #444;
    border: 1px solid #CCC;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 5px 38px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0 5px 38px rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 38px rgba(255, 255, 255, 0.7), 0 5px 38px rgba(255, 255, 255, 0.7), 0 5px 38px rgba(255, 255, 255, 0.7), 0 5px 38px rgba(255, 255, 255, 0.7), 0 5px 38px rgba(255, 255, 255, 0.7), 0 5px 38px rgba(255, 255, 255, 0.7);
}

.login_container {
    width: 380px;
    margin: 10px auto;
}

.login_container input[type="text"], .login_container input[type="password"] {
    background: linear-gradient(rgba(238, 238, 238, 0.6), rgba(255, 2555, 255, 0.6));
    border-radius: 3px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    padding: 5px;
    font-size: 16px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 15px;
}

.login_container input[type="submit"] {
    padding: 10px 20px;
    margin-right: 20px;
    color: white;
    background: linear-gradient(#c9a836, #b08f1d);
    border-radius: 5px;
    border: 1px solid #b08f1d;
    text-transform: uppercase;
}

.login_container input[type="submit"]:hover {
    background: #c9a836;
    border: 1px solid #c9a836;
}

.login_container input[type="submit"]:active {
    background: linear-gradient(#b08f1d, #c9a836);
}

.login_container #forgot {
    border-top: 1px solid #CCC;
    padding-top: 5px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

/*=========== CUSTOM STUFF ===========*/
div.line-name span.content-type {
    font-family: 'Open Sans', sans-serif;
}

#settings_info.page_form input,
#settings_info.page_form select,
#settings.page_form input, #settings.page_form select,
#realm-changer {
    border-radius: 0;
    border: none;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
    color: #996043;
    padding: 5px 10px;
    margin-bottom: 10px
}

#settings_info.page_form input[type="submit"],
#settings.page_form input[type="submit"],
.ucp_summary_col1 a.btn-warning,
.ucp_summary_col3 a.btn-warning,
.ucp-feed-buttons button.btn-warning {
    padding: 7px 10px;
    color: rgb(255, 233, 196) !important;
    background: rgba(117, 46, 21, 0.71);
    width: 160px;
    transition: all 0.5s;
    border: none;
    border-radius: 3px;
}

#settings_info.page_form input[type="submit"]:hover,
#settings.page_form input[type="submit"]:hover,
.ucp_summary_col1 a.btn-warning:hover,
.ucp_summary_col3 a.btn-warning:hover {
    transition: all 0.5s;
    background: rgba(148, 55, 27, 0.71)
}

#settings_info.page_form center, #settings.page_form center {
    margin-bottom: 10px;
    text-align: left;
    margin-left: 68px;
    margin-top: 15px;
}

nav.navbar-orange {
    background-color: rgba(1, 1, 1, 0.01);
    border-color: #C4A788;
}

span.navbar-brand.mobile-nav, .navbar-default .navbar-nav > li > a.mobile-nav {
    color: #ffddc5;
!important;
}

.navbar-default .navbar-toggle span.icon-bar {
    background-color: #C4A788;
!important;
}

.navbar-default button.navbar-toggle:focus, .navbar-default button.navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.01);
}

.navbar-default button.navbar-toggle, .navbar-default button.navbar-toggle {
    border-color: #C4A788;
}

.navbar-default div.navbar-collapse, .navbar-default div.navbar-form {
    border-color: #C4A788;
!important;
}

.navbar-default div.navbar-collapse, .navbar-default div.navbar-form {
    background-image: url(../images/open_menu_body.png);
    background-repeat: round;
    background-size: 100%;
}

.container-fluid > div.navbar-header {
    background-image: url(../images/nav_header_bg.png);
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #535143;
}

ul.nav.navbar-nav.navbar-right.mobile-nav {
    border-top: 1px solid #C4A788;
    background: #2f0c00;
    margin: 0 -15px;
}

nav.mobile-nav {
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

label.blu-href a {
    color: #337ab7; !important;
}
section form.form-horizontal .not-bold {
    font-weight: normal;
    text-align: left;
}
input[type=checkbox].register-checkbox {
    margin-top: 10px;
}

@media (max-width: 992px) {

    nav.mobile-nav div.container-fluid div.navbar-header.open {
        background-image: url(../images/open_menu_header.png);;
    }

    ul.nav.navbar-nav.mobile-nav {
        background-color: #2f0c00;
        margin: 7.5px -15px 0;
    }

    .mobile-header {
        background-repeat: no-repeat;
        margin-top: 52px;
        background-size: 100%;
        position: relative;
        min-height: 410px;
        background-image: url(../images/mobile_bg.png);
    }

    .mobile-header-header {
        text-align: center;
        margin-top: -30px;
    }

    .mobile-header-header a img {
        margin-top: 100px;
        margin-bottom: 25px;
        width: calc(90% - 30px);
    }

    .header-news {
        text-align: center;
    }

    .header-news h3 {
        color: #ffddc5;
    }

    .header-news .text {
        text-transform: uppercase;
        margin: auto;
        width: 70%;
    }

    .header-news .text h3 {
        font-family: bebasFont, Fallback, Verdana;
        font-size: 24px;
    }

    .header-news .text span {
        color: #e49446;
        font-size: 20px;
    }

    .carousel-button {
        margin: 20px;
        padding: 7px 6px 5px 6px;
        border: 1px solid #ffddc5;
    }

    .carousel-button.next {
        float: right;
    }

    .carousel-button.previous {
        float: left;
    }

    #header-facebook {
        background-image: url(../images/facebook.png);
    }

    #header-twitter {
        background-image: url(../images/twitter.png);
    }

    #header-youtube {
        background-image: url(../images/youtube.png);
    }

    #header-discord {
        background-image: url(../images/discord.png);
    }

    #header-vk {
        background-image: url(../images/vk.png);
    }

    #header-facebook,
    #header-twitter,
    #header-youtube,
    #header-discord,
    #header-vk {
        padding: 24px;
        margin: 20px 10px;
        background-repeat: no-repeat;
    }

    .header-social-icons {
        margin-top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
    }

    .carousel-button span {
        border-top: 2px solid #ffddc5;
        border-left: 2px solid #ffddc5;
        padding: 4px;
        display: inline-block;
    }

    .carousel-arrow-left {
        transform: rotate(-45deg);
        margin-right: -5px;
    }

    .carousel-arrow-right {
        transform: rotate(135deg);
        margin-left: -5px;
    }

    .nav-logo img {
        z-index: 99999999;
        margin-top: -48px;
        max-width: 226px;
    }

    .nav-logo.open img {
        z-index: 99999999;
        margin-top: -35px;
        max-width: 226px;
    }

    .nav-logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    div.center {
        text-align: center;
    }

    div.center p {
        margin: 0;
    }

    td #language_field {
        width: 80%;
    }

    #navbar-collapse > ul > li > a {
        font-family: bebasFont, Fallback, Verdana;
        text-transform: uppercase;
    }

    .error-message {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .checkout_realm {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
        margin: 10px 0 20px 0;
        padding: 8px;
    }
}

@media (min-width: 992px) {
    div#content_ajax {
        width: 1000px;
        margin: 0 auto;
    }
    section.register-section {
        width: 1000px;
        margin: 0 auto;
    }

    header nav.main,
    div.line-stats.row,
    section.body section.news-container {
        max-width: 1920px;
    }

}

@media (min-width: 2560px) {
    section.body section.news-container {
        margin-left: 16.333333%;
    }
}

nav li:not(.mobile-nav).extra-width {
    width: 11%;
}

header nav.main ul {
    /*margin-left: 5%;*/
}

@font-face {
    font-family: bebasFont;
    src: url('../font/BEBAS.woff2') format('woff2'),
    url('../font/BEBAS.woff') format('woff'),
    url('../font/BEBAS.ttf') format('truetype');
}

@media (min-width: 1280px) {
    nav li:not(.mobile-nav) {
        background: url(../images/nav-divider.png) no-repeat center left;
        display: inline-block;
        padding-left: 6px;
        width: 8%;
        overflow: hidden;
    }
}

@media (min-width: 1920px) {
    nav li:last-child:not(.mobile-nav) {
        width: 6%;
    }

    nav li:not(.mobile-nav) {
        background: url(../images/nav-divider.png) no-repeat center left;
        display: inline-block;
        padding-left: 6px;
        width: 8%;
        overflow: hidden;
    }
}

.home-register-button {
    padding: 10px 70px;
    background-image: url(/landing/img/Register.png);
    background-size: 100% 100%;
    min-width: 100px;
    max-width: 100px;
    height: inherit;
}

.mobile-header-content {
    margin-top: 30px;
}

/*DESKTOP NAVIGATION BAR SPACING CSS*/
@media (min-width: 1280px) {
    nav li:last-child:not(.mobile-nav) {
        width: 7%;
    }
}

@media (min-width: 1366px) {
    nav li:not(.mobile-nav) {
        background: url(../images/nav-divider.png) no-repeat center left;
        display: inline-block;
        padding-left: 0;
        width: 8%;
        overflow: hidden;
    }

    nav li:not(.mobile-nav).extra-width {
        width: 12%;
    }

    nav li:last-child:not(.mobile-nav) {
        width: 7%;
    }
}

@media (min-width: 1920px) {
}

@media (min-width: 2560px) {

}

.feed_container, .feed_collapsed {
    display: block;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px;
}

.feed_collapsed {
    z-index: 50;
    cursor: pointer;
    width: 15%;
    text-align: center;
}

.feed_container {
    max-height: 300px;
    font-size: 12px;
    text-align: justify;
    overflow-y: scroll;
}

.feed_container a {
    font-weight: bold;
}

span.feed_close {
    cursor: pointer;
    font-size: 36px;
    opacity: 1;
    position: fixed;
    z-index: 1004;
    display: inherit;
    left: 98%;
}

span.feed_close span {
    color: black;
}

div.load_more {
    margin: 15px 40% 0 40%;
    border: 1px solid;
}

div.feed-container {
    overflow: hidden;
    max-width: 90%;
}

div.feed-container div.feed-time {
    color: #000;
    font-size: 10px;
}

div.ucp-feed_container {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.ucp-feed_container div.feed-container {
    padding: 5px 10px;
}

div.ucp-feed_container hr {
    margin: 10px;
}

div.ucp-feed_container a {
    font-weight: bold;
}

div.ucp-feed_container div.load_more {
    margin: 15px 35% 10px 35%;
    border: 1px solid;
}

div.feed-label {
    width: fit-content;
    padding: 1px 5px;
    border-radius: 4px;
}

.ucp-feed-button {
    color: #855321;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    border-bottom: 1px #855321 solid;
    line-height: 40px;
    text-align: center;
}

.ucp-feed_container hr, .feed_container hr, hr.brown {
    border-top: 1px solid #9c6243;
}

.filter-content div.row.filter-row div {
    max-width: calc(25% - 5px);
}

div.owned {
    max-width: 33%;
}

.ucp-feed_container .load_more, .feed_container .load_more {
    border: 1px solid #855321;
    color: #855321;
    margin-bottom: 10px;
}

.color-green {
    background: #8ABD5F;
}

.color-red {
    background: #D46A6A;
}

.color-yellow {
    background: #D4BA6A;
}

.color-blu {
    background: #417C81;
}

.color-dark-blu {
    background: #8c9fcc;
}

.color-dark-green {
    background: #4B966E;
}

div.feed-state {
    display: inline-block;
    padding: 1px 5px;
    margin-right: 5px;
    margin-bottom: 2px;
    border-radius: 4px;
}

div.feed-state.red {
    background: #e17055;
}

div.feed-state.green {
    background: #A3CB38;
}

div.bugtracker-status {
    display: inline-block;
    float: left;
}

div.bugtracker-status-label {
    display: inline-block;
    padding: 2px 5px;
    margin-top: -2px;
    float: right;
    border-radius: 4px;
}

div.priority.bordered {
    font-size: 13px;
}

button.feed-subscribe {
    font-size: 12px;
    margin-top: -6px;
    float: right;
    margin-right: -7px;
}

div.ucp-feed-buttons {
    display: flex;
    justify-content: space-between;
}

#feed, #subscriptions {
    display: inline-block;
    width: calc(50% - 20px);
}

#feed.active,
#subscriptions.active {
    background-color: rgba(144, 101, 57, 0.2);
    border: 1px solid #855321;
}

#feed:hover, #subscriptions:hover {
    background-color: rgba(144, 101, 57, 0.2);
}

div.ucp-feed_container {

}

.inline-block {
    display: inline-block;
}

.manual-installation-link {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}
.manual-installation {
    color: white;
    padding: 0 10px;
    width: fit-content;
    background-color: rgba(198, 0, 0, 0.65);
    text-align: center;
    border-radius: 3px;
    margin-top: 5px;
}
.manual-installation h2 {
    margin: 20px 0;
}
@media (max-width: 768px) {
    div.feed_collapsed {
        width: 100%;
    }

    div.form-group a.btn {
        margin-left: 0;
    }

    div.feed_container {
        max-height: 300px;
        width: 100%;
    }

    span.feed_close {
        left: 92%;
    }

    div.feed_container a {
        margin-left: 0;
    }

    div.load_more {
        margin: 0 35%;
    }

    div.ucp-feed_container {
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    div.register-form-margin {
        margin: auto 15px;
    }
}